name: Test & Publish & Release PuzzleSolver

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+'

env:
  CONFIGURATION: Release

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v6

      - name: Install dotnet
        uses: actions/setup-dotnet@v5
        with:
          global-json-file: global.json

      - name: Build solution
        shell: bash
        run: dotnet build -c $CONFIGURATION

      - name: Install Playwright
        shell: pwsh
        run: artifacts/bin/PuzzleSolver.Cli/release/playwright.ps1 install --with-deps chromium

      - name: Test solution
        shell: bash
        run: dotnet test -c $CONFIGURATION --no-build

  publish:
    name: Publish
    runs-on: ${{ matrix.os }}
    needs: test
    
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            rid: linux-x64
          - os: macos-latest
            rid: osx-arm64
          - os: windows-latest
            rid: win-x64
    
    env:
      VERSION: 1.0
      PUBLISH_PATH: artifacts/publish
      
    steps:
      - name: Extract version
        shell: bash
        run: |
          VERSION="${GITHUB_REF_NAME#v}"
          echo "VERSION=$VERSION" >> $GITHUB_ENV
        
      - name: Clone repository
        uses: actions/checkout@v6
        
      - name: Install dotnet
        uses: actions/setup-dotnet@v5
        with:
          global-json-file: global.json

      - name: Publish CLI
        shell: bash
        run: |
          dotnet publish src/PuzzleSolver.Cli/PuzzleSolver.Cli.csproj \
            -p:Version=$VERSION \
            -c $CONFIGURATION \
            -r ${{ matrix.rid }} \
            -o $PUBLISH_PATH \
            --self-contained 
      
      - name: Rename executable
        shell: bash
        run: |
          if [[ "${{ matrix.os }}" == "windows-latest" ]]; then
            mv $PUBLISH_PATH/PuzzleSolver.Cli.exe $PUBLISH_PATH/puzzle-solver.exe
          else
            mv $PUBLISH_PATH/PuzzleSolver.Cli $PUBLISH_PATH/puzzle-solver
          fi

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: puzzle-solver-${{ matrix.rid }}
          path: ${{ env.PUBLISH_PATH }}/
          include-hidden-files: true
    
  release:
    name: Release
    runs-on: ubuntu-latest
    needs: publish
    permissions:
      contents: write
  
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7
  
      - name: Install zip
        shell: bash
        run: sudo apt-get update && sudo apt-get install -y zip
  
      - name: Zip platform folders
        shell: bash
        run: |
          for folder in ./puzzle-solver-*; do
            zipname="${folder##*/}.zip"
            zip -r "$zipname" "$folder"
          done
  
      - name: Upload artifacts to Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: ./*.zip